body {
	background: rgb(222, 248, 240);
	background-image: linear-gradient(rgb(222, 248, 240), rgb(2, 74, 53));
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#digital {
	height: 60vh;
	width: 70%;
	color: cyan;
	display: grid;
	place-items: center;
	font-size: 50px;
	background: #000;
	border-radius: 10px;
}

